#topstripe {
	height: 40px;
	background-color: #d86905;
}

.jumbotron-heading {
	color: #d86905;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
}

.text-muted {
	font-size: 12px;
	font-family: 'Abril Fatface', cursive;

}

.jumbotron {
	background-image: url("../images/dauchsund.jpg");
	background-size: cover;
}
